player-connection-mode=Listen
player-connection-guid=2200525440
player-connection-debug=0
player-connection-project-name=GravityShoot
player-connection-ip=10.70.37.250
player-connection-ip=172.22.240.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=92b7f797a71c46589b971d3dc4d3e244
