player-connection-mode=Listen
player-connection-guid=3483281919
player-connection-debug=0
player-connection-project-name=GravityShoot
player-connection-ip=10.70.37.250
player-connection-ip=172.25.144.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=ba4ad29d5bc94c40a594294037d61732
